@model CourseFormBindingModel

@{
    var title = this.ViewData["Title"]?.ToString();

    bool.TryParse(this.ViewData[CourseConstants.DisplayUploadNewImage]?.ToString(), out bool displayNewImageUpload);
}

<div class="col-md-8 offset-md-2 bg-white p-4 shadow rounded">
    <h2 class="text-center mb-4">
        <span class="border-bottom border-info">@title</span>
    </h2>
    <form method="post" enctype="multipart/form-data">
        <div class="form-group mb-3">
            <label asp-for="Name"></label>
            <input asp-for="Name" class="form-control p-2">
            <span asp-validation-for="Name" class="error"></span>
        </div>
        <div class="form-group mb-3">
            <label asp-for="TeaserDescription"></label>
            <textarea asp-for="TeaserDescription" class="p-2"> </textarea>
            <span asp-validation-for="TeaserDescription" class="error"></span>
        </div>
        <div class="form-group mb-3">
            <label asp-for="Description"></label>
            <textarea asp-for="Description" class="p-2"> </textarea>
            <span asp-validation-for="Description" class="error"></span>
        </div>
        <div class="form-group mb-3">
            <label asp-for="Image"></label>
            <input asp-for="Image" class="form-control"/>
            <span asp-validation-for="Image" class="error"></span>
        </div>
        @if (displayNewImageUpload)
        {
            <input asp-for="UploadNewImage" class="form-check-input" type="checkbox" />
            <label asp-for="UploadNewImage"></label>
        }
        <div class="form-group mb-3">
            <label asp-for="Price"></label>
            <input asp-for="Price" class="form-control" />
            <span asp-validation-for="Price" class="error"></span>
        </div>
        <div class="form-group mb-3">
            <label asp-for="Complexity"></label>
            <select asp-for="Complexity" class="form-select">
                @foreach (var complexity in Enum.GetNames(typeof(ComplexityLevel)))
                {
                    <option value=@complexity>@complexity</option>
                }
            </select>
        </div>
        <div class="form-group mb-3">
            <label asp-for="Credits"></label>
            <input asp-for="Credits" class="form-control p-2">
            <span asp-validation-for="Credits" class="error"></span>
        </div>
        <div class="form-group mb-3">
            <label asp-for="StartDate"></label>
            <input asp-for="StartDate" class="form-control p-2">
            <span asp-validation-for="StartDate" class="error"></span>
        </div>
        <div class="form-group mb-3">
            <label asp-for="EndDate"></label>
            <input asp-for="EndDate" class="form-control p-2">
            <span asp-validation-for="EndDate" class="error"></span>
        </div>
        <div class="form-group mb-3">
            <label asp-for="TeacherId"></label>
            <select asp-for="TeacherId" class="selectpicker form-control" data-live-search="true">
                @foreach (var teacher in Model.Teachers)
                {
                    <option value=@teacher.Id>@teacher.FullName</option>
                }
            </select>
        </div>
        <div class="text-center">
            <button type="submit" class="w-25 btn btn-success shadow p-2">Submit</button>
        </div>
    </form>
</div>
