@model HomeViewModel

@{
    ViewData["Title"] = "Home Page";
}

@section Styles {
    <link rel="stylesheet" href="~/css/home/flex-slider.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/home/owl.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/home/templatemo-grad-school.css" asp-append-version="true" />
}

<section class="section main-banner" id="top" data-section="section1">
    <video autoplay muted loop id="bg-video">
        <source src="~/images/home/course-video.mp4" type="video/mp4" />
    </video>

    <div class="video-overlay header-text">
        <div class="caption">
            <h6>The digital development system</h6>
            <h2><em>Students</em> System</h2>
            <div class="main-button">
                <div class="scroll-to-section">
                    <a asp-area="Students" asp-controller="StudentApplication" asp-action="Apply">Become a student</a>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="features">
    <div class="container">
        <div class="row">
            <div class="col-lg-4 col-12">
                <div class="features-post">
                    <div class="features-content">
                        <div class="content-show">
                            <h4><i class="fa fa-pencil"></i>All Courses</h4>
                        </div>
                        <div class="content-hide">
                            <p>We offer a variety of courses that will help you get started in the IT industry.</p>
                            <p>Course resources are well selected and structured.</p>
                            <div class="scroll-to-section">
                                <a asp-controller="Trainings" asp-action="Index">All active courses</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-12">
                <div class="features-post second-features">
                    <div class="features-content">
                        <div class="content-show">
                            <h4><i class="fa fa-graduation-cap"></i>Virtual Courses</h4>
                        </div>
                        <div class="content-hide">
                            <p>All courses are conducted online, which is very convenient and flexible.</p>
                            <p>This allows students to access the materials and lectures from anywhere with an internet connection, fitting seamlessly into their busy schedules.</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-12">
                <div class="features-post third-features">
                    <div class="features-content">
                        <div class="content-show">
                            <h4><i class="fa fa-book"></i>Communication</h4>
                        </div>
                        <div class="content-hide">
                            <p>Although courses are online, the system provides real time communication.</p>
                            <p>Before, during and after each lecture, questions can be asked via Slido to the lecturer.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="section why-us" data-section="section2">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="section-heading">
                    <h2>Why study programming?</h2>
                </div>
            </div>
            <div class="col-md-12">
                <div id='tabs'>
                    <ul>
                        <li>
                            <a href='#tabs-1'>
                                What is programming?
                            </a>
                        </li>
                        <li>
                            <a href='#tabs-2'>
                                Where to start your training as a programmer?
                            </a>
                        </li>
                        <li>
                            <a href='#tabs-3'>
                                For Students System
                            </a>
                        </li>
                    </ul>
                    <section class='tabs-content'>
                        <article id='tabs-1'>
                            <div class="row">
                                <div class="col-md-6">
                                    <img src="~/images/home/choose-us-image-01.png">
                                </div>
                                <div class="col-md-6">
                                    <h4>Programming</h4>
                                    <p>
                                        Is the process of creating sets of instructions that tell a computer how to perform certain tasks or functions.
                                        It involves writing code in programming languages, which the computer can understand and execute.
                                        Programmers use their logical thinking and problem-solving skills to design, develop, and troubleshoot software applications,
                                        websites, and other digital solutions.
                                    </p>
                                </div>
                            </div>
                        </article>
                        <article id='tabs-2'>
                            <div class="row">
                                <div class="col-md-6">
                                    <img src="~/images/home/choose-us-image-02.png">
                                </div>
                                <div class="col-md-6">
                                    <h4>Choosing the Right Programming Courses</h4>
                                    <p>
                                        If you have no prior experience in programming, we recommend starting with basic courses.
                                        These courses provide a solid foundation and introduce fundamental concepts that are essential for building proficiency in programming.
                                    </p>
                                    <p>
                                        However, if you already have some experience in programming, you can independently decide which course would be most suitable
                                        for you based on your existing skills and areas of interest. Whether you're a beginner or an experienced programmer,
                                        our diverse range of courses ensures that there's something valuable for everyone to learn and grow in their programming journey.
                                    </p>
                                </div>
                            </div>
                        </article>
                        <article id='tabs-3'>
                            <div class="row">
                                <div class="col-md-6">
                                    <img src="~/images/home/choose-us-image-03.png">
                                </div>
                                <div class="col-md-6">
                                    <h4>About Us</h4>
                                    <p>
                                        Students System is an educational center dedicated to cultivating true professionals in the field of programming,
                                        equipping them with practical skills for a successful career launch. Our programming courses, hands-on exercises,
                                        and projects, combined with accumulated technological expertise and deep knowledge in the most sought-after concepts and technologies
                                        in the software industry, empower our students to embark confidently on their career journey. Additionally, our supportive
                                        learning environment and industry-aligned curriculum ensure that students receive comprehensive preparation for the challenges
                                        and opportunities ahead.
                                    </p>
                                </div>
                            </div>
                        </article>
                    </section>
                </div>
            </div>
        </div>
    </div>
</section>

@if (Model.HasCoureses)
{
    @await Html.PartialAsync("~/Views/Shared/Partials/Courses/_LatestCoursesPartial.cshtml", Model.LatestCourses)
}

@section Scripts {
    <script src="~/js/home/isotope.min.js"></script>
    <script src="~/js/home/owl-carousel.js"></script>
    <script src="~/js/home/lightbox.js"></script>
    <script src="~/js/home/tabs.js"></script>
    <script src="~/js/home/video.js"></script>
    <script src="~/js/home/slick-slider.js"></script>
    <script src="~/js/home/custom.js"></script>
    <script src="~/js/layout.js"></script>
    <script src="~/js/card-slider.js"></script>
    <script>
        const body = document.getElementsByTagName('body')[0];
        body.style.backgroundColor = "#172238"
    </script>
}