@using StudentSystem.Web.Infrastructure.Extensions

@{
    this.ViewData["Title"] = "Admin Dashbourd";
}

<div class="container mt-5">
    <h1 class="my-4 text-center mb-5">Admin Dashboard</h1>

    <ul role="list" class="row row-gap-4">

        <li class="col-3 col-md-3 p-2 admin-categories">
            <a asp-controller="Users" asp-action="All" class="text-decoration-none text-black">
                <div class="d-flex flex-column align-items-center w-100 h-100 admin-categories-content">
                    @Html.RenderPngIcon("users")
                    <div class="mt-2">
                        <h5 class="text-center">All Users</h5>
                    </div>
                </div>
            </a>
        </li>

        <li class="col-3 col-md-3 p-2 admin-categories">
            <a asp-area="Students" asp-controller="StudentApplication" asp-action="PendingStudents" class="text-decoration-none text-black">
                <div class="d-flex flex-column align-items-center w-100 h-100 admin-categories-content">
                    @Html.RenderPngIcon("waiting")
                    <div class="mt-2">
                        <h5 class="text-center">Pending Students</h5>
                    </div>
                </div>
            </a>
        </li>

        <li class="col-3 col-md-3 p-2 admin-categories">
            <a asp-controller="Courses" asp-action="All" class="text-decoration-none text-black">
                <div class="d-flex flex-column align-items-center w-100 h-100 admin-categories-content">
                    @Html.RenderPngIcon("content")
                    <div class="mt-2">
                        <h5 class="text-center">Manage Content</h5>
                    </div>
                </div>
            </a>
        </li>

        <li class="col-3 col-md-3 p-2 admin-categories">
            <a asp-controller="StudentNotification" asp-action="SendEmail" class="text-decoration-none text-black">
                <div class="d-flex flex-column align-items-center w-100 h-100 admin-categories-content">
                    @Html.RenderPngIcon("communication")
                    <div class="mt-2">
                        <h5 class="text-center">Send Information</h5>
                    </div>
                </div>
            </a>
        </li>

    </ul>

</div>