<section class="section why-us">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="section-heading">
                    <h2>Why study programming?</h2>
                </div>
            </div>
            <div class="col-md-12">
                <div id='tabs'>
                    <ul>
                        <li>
                            <a href='#tabs-1'>
                                What is programming?
                            </a>
                        </li>
                        <li>
                            <a href='#tabs-2'>
                                Where to start your training as a programmer?
                            </a>
                        </li>
                        <li>
                            <a href='#tabs-3'>
                                For Students System
                            </a>
                        </li>
                    </ul>
                    <section class='tabs-content'>
                        <article id='tabs-1'>
                            <div class="row">
                                <div class="col-md-6">
                                    <img src="~/images/home/choose-us-image-01.png">
                                </div>
                                <div class="col-md-6">
                                    <h4>Programming</h4>
                                    <p>
                                        Is the process of creating sets of instructions that tell a computer how to perform certain tasks or functions.
                                        It involves writing code in programming languages, which the computer can understand and execute.
                                        Programmers use their logical thinking and problem-solving skills to design, develop, and troubleshoot software applications,
                                        websites, and other digital solutions.
                                    </p>
                                </div>
                            </div>
                        </article>
                        <article id='tabs-2'>
                            <div class="row">
                                <div class="col-md-6">
                                    <img src="~/images/home/choose-us-image-02.png">
                                </div>
                                <div class="col-md-6">
                                    <h4>Choosing the Right Programming Courses</h4>
                                    <p>
                                        If you have no prior experience in programming, we recommend starting with basic courses.
                                        These courses provide a solid foundation and introduce fundamental concepts that are essential for building proficiency in programming.
                                    </p>
                                    <p>
                                        However, if you already have some experience in programming, you can independently decide which course would be most suitable
                                        for you based on your existing skills and areas of interest. Whether you're a beginner or an experienced programmer,
                                        our diverse range of courses ensures that there's something valuable for everyone to learn and grow in their programming journey.
                                    </p>
                                </div>
                            </div>
                        </article>
                        <article id='tabs-3'>
                            <div class="row">
                                <div class="col-md-6">
                                    <img src="~/images/home/choose-us-image-03.png">
                                </div>
                                <div class="col-md-6">
                                    <h4>About Us</h4>
                                    <p>
                                        Students System is an educational center dedicated to cultivating true professionals in the field of programming,
                                        equipping them with practical skills for a successful career launch. Our programming courses, hands-on exercises,
                                        and projects, combined with accumulated technological expertise and deep knowledge in the most sought-after concepts and technologies
                                        in the software industry, empower our students to embark confidently on their career journey. Additionally, our supportive
                                        learning environment and industry-aligned curriculum ensure that students receive comprehensive preparation for the challenges
                                        and opportunities ahead.
                                    </p>
                                </div>
                            </div>
                        </article>
                    </section>
                </div>
            </div>
        </div>
    </div>
</section>