@page
@model RegisterModel
@{
    ViewData["Title"] = "Register";
}

<div class="container mt-5">
    <div class="col-md-4 offset-md-4 bg-white p-4 shadow rounded">
        <h2 class="text-center mb-4">
            <span class="border-bottom border-info">Register</span>
        </h2>
        <form>
            <div class="form-group mb-3">
                <input asp-for="Input.FirstName" type="text" class="form-control p-2" placeholder="First name">
                <span asp-validation-for="Input.FirstName" class="text-danger"></span>
            </div>
            <div class="form-group mb-3">
                <input asp-for="Input.LastName" type="text" class="form-control p-2" placeholder="Last name">
                <span asp-validation-for="Input.LastName" class="text-danger"></span>
            </div>
            <div class="form-group mb-3">
                <input asp-for="Input.Username" type="text" class="form-control p-2" placeholder="Username">
                <span asp-validation-for="Input.Username" class="text-danger"></span>
            </div>
            <div class="form-group mb-3">
                <input asp-for="Input.Email" type="email" class="form-control p-2" placeholder="Email">
                <span asp-validation-for="Input.Email" class="text-danger"></span>
            </div>
            <div class="form-group mb-3">
                <input asp-for="Input.Password" type="password" class="form-control p-2" placeholder="Password">
                <span asp-validation-for="Input.Password" class="text-danger"></span>
            </div>
            <div class="form-group mb-4">
                <input asp-for="Input.ConfirmPassword" type="password" class="form-control p-2" placeholder="Confirm your password">
                <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
            </div>
            <div class="text-center">
                <button id="registerSubmit" type="submit" class="w-75 btn btn-primary shadow p-2">Register</button>
            </div>
        </form>
        <div class="text-center mt-3">
            <p>Already have an account?
                <a asp-page="/Account/Login">Login</a>
            </p>
        </div>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
