@using StudentSystem.Services.Data.Features.Resources.Constants
@model ResourceBindingModel

@{
    this.ViewData["Title"] = "Update Resource";
}

<div class="container mt-5">
    @{
        await Html.RenderPartialAsync("_ResourceFormPartial", Model, new ViewDataDictionary(ViewData) { { ResourcesConstants.UpdateResourceCheckBoxKey, true } });
    }
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}