@model BecomeTeacherBindingModel

<div class="container mt-5">
    <div class="col-md-4 offset-md-4 bg-white p-4 shadow rounded">
        <h2 class="text-center mb-4">
            <span class="border-bottom border-info">Create a teacher</span>
        </h2>
        <form method="post">
            <div class="form-group mb-3">
                @if (!string.IsNullOrEmpty(Model.FirstName))
                {
                    <input id="hiddenFName" type="hidden" asp-for="FirstName" />
                }
                <input asp-for="FirstName" type="text" class="form-control p-2" placeholder="First Name">
                <span asp-validation-for="FirstName" class="text-danger error"></span>
            </div>
            <div class="form-group mb-3">
                @if (!string.IsNullOrEmpty(Model.LastName))
                {
                    <input id="hiddenLName" type="hidden" asp-for="LastName" />
                }
                <input asp-for="LastName" type="text" class="form-control p-2" placeholder="Last Name" />
                <span asp-validation-for="LastName" class="text-danger error"></span>
            </div>
            <div class="form-group mb-3">
                <input asp-for="AboutMe" type="text" class="form-control p-2">
                <span asp-validation-for="AboutMe" class="text-danger error"></span>
            </div>
            <div class="text-center">
                <button type="submit" class="w-75 btn btn-success shadow p-2">Create</button>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }

    <script>
        const firstNameInput = document.getElementById('FirstName');
        const lastNameInput = document.getElementById('LastName');

        if (firstNameInput.value !== '') {
            firstNameInput.disabled = true;
            lastNameInput.disabled = true;
        };
    </script>
}